<div class="container">
  <div class="profile">
    <img class="avatar" src="https://avatars.dicebear.com/api/initials/<%= @user.profile.full_name %>.svg?radius=50" alt="">
    <h1 class="name"><%= @user.profile.full_name %></h1>
    <div class="bio">
      <% if current_user == @user %>
        <turbo-frame id="turbo-biography" src="profile/bio">
          loading
        </turbo-frame>
      <% else %>
        <p>
          <% unless @user.profile.biography.nil? %>
            <%= @user.profile.biography.body %>
          <% else %>
          No bio
          <% end %>
        </p>
      <% end %>
      <%= render partial: "add_friend_button", locals: { user: @user } %>
    </div>
    <div class="info">
      <h2>Info</h2>
      <ul>
        <li>
          <%= link_to "#{@user.friends.count} Friends", user_friends_path(@user)%>
        </li>
        <li>
          <% if current_user == @user %>
            <% if current_user.friend_requests_in.any? %>
              <%= link_to "New Friend Request", user_friends_path(@user) %>
            <% end %>
          <% end %>
        </li>
        <% unless @user.profile.town.nil? %>
          Town: <%= @user.profile.town.name %>, <%= @user.profile.town.country %></li>
        <% end %>
        <li>
          <% unless @user.profile.job.nil? %>
            <%= @user.profile.job.title %> at <%= @user.profile.job.company %>
          <% end %>
        </li>
        <% unless @user.profile.relationship.nil? %>
          <li><%= @user.profile.relationship.status %> <%= @user.profile.relationship.partner.full_name unless @user.profile.relationship.partner.nil? %></li>
        <% end %>
      </ul>
      <% if current_user == @user%>
        <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"button logout" %>
      <% end %>
    </div>
    <div class="posts">
      <% if current_user == @user %>
        <a href="<%= new_post_path %>">
          <div class="post add">+</div>
        </a>
      <% end %>
      <% @user.posts.each do |post| %>
        <%= render partial: "posts/card", locals: { post: post } %>
      <% end %>
    </div>
  </div>
</div>