<div class="post">
  <a href="<%= post_path(post) %>">
    <h4>
      <%= post.user.profile.full_name %>
    </h4>
    <h2>
      <%= post.title %>
    </h2>
    <p>
      <%= post.body %>
    </p>
    <p class="time-ago">
      <%= time_ago_in_words(post.created_at) %>
    </p>
  </a>
  <div class="actions">
    <%= render partial: "posts/like_button", locals: { post: post } %>
    <%= render partial: "posts/comment_button", locals: { post: post } %>
  </div>
</div>