<div class="container">
  <div class="post">
    <h3>
      <%= @post.user.profile.full_name %>
    </h3>
    <h1>
      <%= @post.title %>
    </h1>
    <p>
      <%= @post.body %>
    </p>
    <div class="actions">
      <%= render partial: "like_button", locals: { post: @post } %>
    </div>
  </div>
  <div class="comments">
    <%= form_with url: post_comments_path(params[:id]) do |f| %>
      <%= f.text_area :body, rows: 5, placeholder: "Comment on this post" %>
      <%= f.submit "Post comment", class: "button" %>
    <% end %>

    <% @post.comments.each do |comment| %>
    <div class="comment">
      <h4>
        <%= comment.user.profile.full_name %>
      </h4>
      <p>
        <%= comment.body %>
      </p>
      <p class="time-ago">
        <%= time_ago_in_words(comment.created_at) %> ago
      </p>
    </div>
  <% end %>
  </div>
</div>